{% load bootstrap_toolkit %}
{% load static %}
{% get_static_prefix as STATIC_ROOT %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'comments.js' %}"></script>
<script src="{% static 'solutions.js' %}"></script>
<script type="text/javascript" src="{% static "sh_main.min.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		sh_highlightDocument('{{ STATIC_ROOT }}/', '.min.js');
	});
</script>

{% bootstrap_javascript_tag %}
{% bootstrap_javascript_tag 'transition' %}
{% bootstrap_javascript_tag 'alert' %}
{% bootstrap_javascript_tag 'modal' %}
{% bootstrap_javascript_tag 'dropdown' %}
{% bootstrap_javascript_tag 'scrollspy' %}
{% bootstrap_javascript_tag 'tab' %}
{% bootstrap_javascript_tag 'tooltip' %}
{% bootstrap_javascript_tag 'popover' %}
{% bootstrap_javascript_tag 'button' %}
{% bootstrap_javascript_tag 'collapse' %}
{% bootstrap_javascript_tag 'carousel' %}
{% bootstrap_javascript_tag 'typeahead' %}
