{% load comments %}
<ul class="nav nav-pills nav-stacked">
	{% for item in menu %}
	{% if item.spacer %} <br> {% else %}
	<li{% if item.active %} class="active"{% endif %}>{% if item.url %}<a href="{{ item.url }}">{% else %}<strong>{% endif %}{% if item.icon %}<i class="icon-{{ item.icon }}"></i>{% endif %} {% if item.strong %} <strong>{{ item.text }} {% alert item.alert %}</strong>{% else %} {{item.text}} {% alert item.alert %}{% endif %}{% if item.url %}</a>{%else %}</strong>{% endif %}</li>
	{% endif %}
	{% endfor %}
</ul>
