{% load menu %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title%}Zapiekanki z keczupem{% endblock %} &middot; tcs-web</title>
		{% include '_base/head.html' %}
		<style>
			body { padding-top: 60px; }
		</style>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">tcs-web</a>
					<div class="nav-collapse collapse pull-right">
						<ul class="nav">
							<li><a>{{ user.get_full_name }}</a></li>
							<li><a href="{% url 'logout' %}">Wyloguj się&nbsp;&nbsp;&nbsp;<i class="icon-off icon-white"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="span3">{% menu %}</div>
				<div class="span9">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		{% include '_base/foot.html' %}
	</body>
</html>
