{% extends 'base.html' %}
{% load comments %}

{% block title %}Zadania &middot; {{ competition.name }}{% endblock %}

{% block content %}
<div style="float: right"><a href="{% url 'problem-add' competition.slug %}" class="btn btn-success">Dodaj zadanie</a></div>
<h1>Zadania</h1>
{% if problem_list %}
<table class="table">
	<tr>
		<th>Nazwa</th><th>Skrót</th><th>Autor</th><th>Status</th>
	</tr>
{% for problem in problem_list %}
	<tr>
		<td><a href="{% url 'problem-details' problem.slug %}">{{ problem.name }}</a> {% alert problem %}</td>
		<td>{{ problem.slug }}</td>
		<td>{{ problem.author.get_full_name }}</td>
		<td>N/A</td>
	</tr>
{% endfor %}
</table>
{% include 'partials/pagination.html' %}
{% else %}
<p>Brak zadań</p>
{% endif %}

{% endblock content %}
