{% if is_paginated %}
<div class="pagination">
	<span class="page-links">
		{% if page_obj.has_previous %}
		<span class="page-prev">
			<a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
		</span>
		{% endif %}
		<span class="page-current">
			strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
		</span>
		{% if page_obj.has_next %}
		<span class="page-next">
			<a href="?page={{ page_obj.next_page_number }}">następna</a>
		</span>
		{% endif %}
	</span>
</div>
{% endif %}

